*{ 
	font-family: 'Montserrat', sans-serif  !important; 
}
body{ 
	background-image: url(../imgs/bg.png);
	background-size:cover;
 }

 content{
 	position: fixed;
 	top:0;
 	right:0;
 	bottom:0;
 	left:0;
 	overflow-y:0;
 }

 section{
 	height:100%;
 	min-height:600px;
 }

 .left-half{
 	color:white;
 }
 .right-half{
 	background-color: white;
 }
 .left-half,
 .right-half{ padding:30px; }